.top {text-align: center;
    text-transform: uppercase;}
body {text-transform: capitalize;
      font-family: 'Times New Roman', Times, serif;
      text-align: center;
      font-weight: bolder;
    }
.table {text-align: center;}